*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(#5424bf, #260ed6);
    padding: 25px;
    min-height: 100vh;
}

.white {
    color: white;
}

h1 {
    font-size: 50px;
    font-family: "Dancing Script", sans-serif;
    font-weight: 700;
    margin: 15px;
}

h2 {
    font-size: 25px;
    font-family: "Poiret One", sans-serif;
    margin: 0px;
}

p {
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
}

.sketch-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.sketch-grid button {
    background-color: rgba(255, 121, 59);
    border-radius: 5px 5px;
    border: none;
    max-width: 150px;
    width: 100%;
    padding: 10px;
    color: white;
    font-weight: 700;
}

.sketch-grid button:hover {
    background-color: rgba(255, 91, 15);
}

.line-text {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    max-width: 70vmin;
}

.line-text hr {
    flex: 1;
    height: 1px;
    border: none;
    background-color: #ccc;
}


.container {
    background-color: rgb(244, 243, 252);
    border: 5px solid rgb(160, 160, 167);
    border-radius: 5px;
    height: 70vmin;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
}

.container-child {
    background-color: rgba(0, 0, 0, 0);
    /*transparent*/
    border: 1px solid rgba(194, 192, 197, 0.2);
    flex: 1 0 6.25%;
    aspect-ratio: 1 / 1;
}

.popup {
    max-width: 600px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #814eee;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 0px 10px 5px rgb(183, 171, 190);
}

.grid-forms {
    font-family: "Poiret One", sans-serif;
    font-weight: 700;
}

.grid-forms form {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
}

#submit {
    background-color: #5424bf;
    border-radius: 5px 5px;
    border: none;
    max-width: 100px;
    width: 100%;
    padding: 7px;
    color: white;
    font-weight: 700;
    margin: 20px;
}

#cancel {
    background-color: rgba(255, 121, 59);
    border-radius: 5px 5px;
    border: none;
    max-width: 100px;
    width: 100%;
    padding: 7px;
    color: white;
    font-weight: 700;
    margin: 10px;
}

#submit:hover,
#cancel:hover {
    box-shadow: 0px 0px 10px 5px rgb(183, 171, 190);
}

.input-style {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    gap: 10px;
}

.input-style input {
    border: 1px solid #c6b2f3;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgb(183, 171, 190);
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
}

.hidden {
    display: none;
}